body {
    background-color: black;
    color: #00FF00; /* Green text */
    font-family: "VT323", monospace; /* Use a ROM-like font */
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

input {
    background-color: black;
    color: #00FF00;
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    text-align: center;
}

button {
    background-color: black;
    color: #00FF00;
    font-family: inherit;
    font-size: inherit;
    border: 1px solid #00FF00;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #00FF00;
    color: black;
}

#timer {
    font-size: 24px;
}
